
body{
    font-family: 'Montserrat', sans-serif;
}

div{
    width:100%; height:100%; margin:0; padding:0;
}

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Download Buttons */

.download-btn{
    margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5; 
}

/* Features */
#features{
    padding: 7% 0% 0;
}

.features-col{
    text-align: center;
    margin: 2rem 0rem;
    padding: 5%;
}

.features-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color:#ff4c68;
}

.features-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.features-para{
    color: #8f8f8f;
}






